<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
<body class="hidden">

  <!-- Gives us raw HTML -->
  <%- include("./partials/nav.ejs") %>

  <div class="details content">
    <h2 class="single-blog-title"><%= blog.title %></h2>
    <p class="blog-body"><%= blog.body %></p>
    <button id="btn-delete" class="btn" data-doc="<%= blog._id %>">Delete Blog</button>
  </div>

  <%- include("./partials/footer.ejs") %>

  <script src="/delete-post.js" async></script>
  
  <script src="/visible.js"></script>
</body>
</html>