<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
<body class="hidden">

  <!-- Gives us raw HTML -->
  <%- include("./partials/nav.ejs") %>

  <div class="blogs content">
    <h2>All Blogs</h2>
    <% if (blogs.length > 0) { %>
      <% blogs.forEach( (blog) => { %>
        <div class="single-blog">
          <a href="/blogs/<%= blog._id %>">
            <h3 class="blog-title"><%= blog.title %></h3>
            <p class="blog-body"><%= `${blog.body.slice(0, 100)}...` %></p>
            <div class="blog-createTime"><%= blog.createdAt.toLocaleString(undefined, { dateStyle: "full", timeStyle: "short" }) %></div>
          </a>
        </div>
      <% }); %>
    <% } else { %>
      <p>No Blogs!</p>
    <% } %>
  </div>

  <%- include("./partials/footer.ejs") %>

  <script src="/visible.js"></script>

</body>
</html>